<%= breadcrumb('dvp', @dvp) %>
<h4><%= @dvp.name %> </h4>
<table class="table table-condensed table-bordered">
  <tr> <th> Name </th> <th> Desc </th>
  </tr>
  <tr>
    <td> <%= @dvp.name %> </td> <td> <%= @dvp.desc %> </td>
  </tr>
</table>
<div class="row-fluid">
This will show EC status dashboard

<%= render :template => "ec_items/index.html", :locals => {:@ec_items => @dvp.ec_items} %>
</div>
