<%= breadcrumb('study', @study) %>

<h4>DVPs for study <%= @study.name %> </h4>
<!-- <%= render  :template => "studies/show.html" %> -->
<% if !@study.dvps.empty? %>
  <% @study.dvps.each do |dvp| %>
    <%= link_to dvp.name, show_dvp_path(dvp) %>
    <small class='muted'>Last upated at <%=l dvp.updated_at %>   </small>
  <% end %>
<% else %>
  Create New DVP
<% end %>

