<!DOCTYPE html>
<html>
  <head>
    <title>DvpWeb</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row-fluid" style="margin-top:60px">

        <%= render "layouts/show_flash" %>
        <!-- main -->
        <div style="
          width:333px;
          height: 352px;
          padding: 58px 76px 0 76px;
          font: 12px Arial, Helvetica, sans-serif;
          background: url('/assets/login-box-backg.png') no-repeat left top;
          "
          >
          <div style="color:#ebebeb">
          <h4> Welcome </h4>
          <p> This is a test </p>
        </div>

          <br>
            <%= simple_form_for(:user, :url => session_create_path) do |f| %>
              <div class="form-inputs">
                <div class="input-prepend input-append">
                  <span class="add-on"><i class="icon-user"></i></span>
                  <%= f.input_field :login, :required => true, :autofocus => true %>
                  <span class="add-on">@RESEARCH </span>
                </div>
                </p>
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-key"></i></span>
                  <%= f.input_field :password, :required => true %>
                </div>
                </p>
              </div>

              <%= f.button :submit, "Sign in", :class => "btn btn-primary" %>
            <% end %>
        </div>

      </div>
      <!-- main end -->
    </div>
  </div>
</body>
</html>
